#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  text-align: center;
  width: 80%; /* Set width to 80% */
}

#container h1,
#container h2 {
  margin: 10px 0;
}

.profile-image {
  border-radius: 50%;
  width: 100%; /* Make image width responsive */
  max-width: 400px; /* Set maximum width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  margin: 20px 0;
}

.interest_message_container {
  width: 80%; /* Make the container narrower */
  margin: 0 auto; /* Center the container */
}

#description {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 1100px;
  margin: 20px auto;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  text-align: left; /* Align text to the left for better readability */
  font-size: 1.2rem; /* Use rem units for font size */
  width: 80%; /* Set width to 80% */
}

#description p {
  margin-bottom: 15px; /* Add space between paragraphs */
}

#greeting_message {
  font-size: 4rem; /* Use rem units for font size */
  font-weight: bold; /* Make text bold */
}

#introduce_message,
.interest_message {
  font-size: 2rem; /* Use rem units for font size */
}
