<div id="container">
  <h1 id="greeting_message">Hi, I’m Por</h1>
  <h2 id="introduce_message">
    Study in KMITL and find gonna find internship right now.
  </h2>
  <div>
    <img src="assets/images/profile.jpg" alt="Profile" />
  </div>
  <h2 id="interest_message">
    Seeking Software Engineering Internship to leverage AI, web, and IoT
    experience.
  </h2>
</div>
<h2>About Me</h2>
<pre id="description">
Hello! I’m Pongchanan "Por" Sriwanna, a passionate Software Engineering student at KMITL International Program. My journey in technology is driven by curiosity, innovation, and a deep desire to solve real-world problems through software.
    Over the years, I’ve honed my skills across various domains, including AI, IoT, and web development. From developing a CNN-based emotion detection AI to crafting a fully interactive 3D museum explorer in the metaverse, I strive to combine technical expertise with creativity. I’ve also led the development of a large-scale website for my department, deploying it live on a self-managed server to showcase research and foster engagement.
    
    Beyond my technical projects, I take pride in mentoring and teaching. As a teaching assistant, I’ve guided over 400 high school students in Python programming, enhancing my ability to communicate complex ideas clearly and effectively.
    
    What I Bring:
    Proficiency in programming languages like Python, C++, and JavaScript.
    Experience with modern web technologies such as React, Tailwind CSS, and FastAPI.
    Hands-on expertise in AI and IoT, integrating tools like Raspberry Pi, MPU6050, and CNN models.
    A passion for teamwork, teaching, and mentoring.
    
    I believe in creating impactful software that blends functionality with innovation, and I’m always eager to explore new challenges and opportunities. Let’s connect and build something extraordinary together!</pre
>
