<div id="container">
  <h1 id="greeting_message">Hi, I’m Por</h1>
  <h2 id="introduce_message">
    Study in KMITL and find gonna find internship right now.
  </h2>
  <figure>
    <img
      src="https://avatars.githubusercontent.com/u/174466198?v=4"
      alt="Profile"
      class="profile-image"
    />
  </figure>
  <h2 class="interest_message">Seeking Software Engineering Internship</h2>
  <h2 class="interest_message">to leverage AI, web, and IoT experience.</h2>
</div>
<div id="description">
  <p>
    Hello! I’m Pongchanan "Por" Sriwanna, a passionate Software Engineering
    student at KMITL International Program. My journey in technology is driven
    by curiosity, innovation, and a deep desire to solve real-world problems
    through software.
  </p>
  <p>
    Over the years, I’ve honed my skills across various domains, including AI,
    IoT, and web development. From developing a CNN-based emotion detection AI
    to crafting a fully interactive 3D museum explorer in the metaverse, I
    strive to combine technical expertise with creativity. I’ve also led the
    development of a large-scale website for my department, deploying it live on
    a self-managed server to showcase research and foster engagement.
  </p>
  <p>
    Beyond my technical projects, I take pride in mentoring and teaching. As a
    teaching assistant, I’ve guided over 400 high school students in Python
    programming, enhancing my ability to communicate complex ideas clearly and
    effectively.
  </p>
  <p>What I Bring:</p>
  <ul>
    <li>
      Proficiency in programming languages like Python, C++, and JavaScript.
    </li>
    <li>
      Experience with modern web technologies such as React, Tailwind CSS, and
      FastAPI.
    </li>
    <li>
      Hands-on expertise in AI and IoT, integrating tools like Raspberry Pi,
      MPU6050, and CNN models.
    </li>
    <li>A passion for teamwork, teaching, and mentoring.</li>
  </ul>
  <p>
    I believe in creating impactful software that blends functionality with
    innovation, and I’m always eager to explore new challenges and
    opportunities. Let’s connect and build something extraordinary together!
  </p>
</div>
