<nav>
  <div class="nav-links">
    <app-link-button
      [buttonText]="'PROJECTS'"
      [linkPath]="'/'"
      [isExternal]="false"
      buttonStyle="black"
      [borderless]="false"
    ></app-link-button>
    <app-link-button
      [buttonText]="'ABOUT'"
      [linkPath]="'/about'"
      [isExternal]="false"
      buttonStyle="white"
      [borderless]="true"
    ></app-link-button>
  </div>
  <div id="sub_nav" class="nav-links">
    <app-link-button
      [buttonText]="'LINKEDIN'"
      [linkPath]="'https://www.linkedin.com/in/pongchanan-sriwanna-147111282/'"
      [isExternal]="true"
      buttonStyle="white"
      [borderless]="true"
    ></app-link-button>
    <app-link-button
      [buttonText]="'GITHUB'"
      [linkPath]="'https://github.com/pongchanan'"
      [isExternal]="true"
      buttonStyle="white"
      [borderless]="true"
    ></app-link-button>
    <app-link-button
      [buttonText]="'EMAIL'"
      [linkPath]="'mailto:pongchanansriwanna2547@gmail.com'"
      [isExternal]="true"
      buttonStyle="white"
      [borderless]="true"
    ></app-link-button>
  </div>
</nav>
