<div>
  <img [src]="getImageURL(projectDetail().image_bytes)" alt="big" />
  <p id="topic">{{ projectDetail().title }}</p>
  <p>
    {{ projectDetail().description }}
  </p>
  <app-move-avatar></app-move-avatar>
  <app-toggle-link-button
    [buttonText]="'VIEW ON GITHUB'"
    [linkPath]="projectDetail().github_url || ''"
  ></app-toggle-link-button>
  <app-toggle-link-button
    [buttonText]="'VIEW ON WEBSITE'"
    [linkPath]="projectDetail().website_url || ''"
  ></app-toggle-link-button>
</div>
