<div>
  <div class="image-container">
    <img
      [src]="getImageURL(projectDetail().image_bytes)"
      alt="big"
      class="fixed-size-image"
    />
  </div>
  <app-move-avatar></app-move-avatar>
  <p id="topic">{{ projectDetail().title }}</p>
  <p class="description-text">
    {{ projectDetail().description }}
  </p>
  <div class="link-buttons">
    <app-website-link-button-white
      [buttonText]="'VIEW ON GITHUB'"
      [linkPath]="projectDetail().github_url || ''"
    ></app-website-link-button-white>
    <app-website-link-button-black
      [buttonText]="'VIEW IN WEBSITE'"
      [linkPath]="projectDetail().website_url || ''"
    ></app-website-link-button-black>
  </div>
</div>
