.fixed-size-image {
  width: 80%;
  height: auto;
  margin-top: 20px; /* Adjust as needed */
  margin-bottom: 20px; /* Adjust as needed */
}

.description-text {
  width: 55%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 1100px;
  margin: 20px 170px;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  text-align: left; /* Align text to the left for better readability */
  font-size: 1.2em; /* Increase font size */
}

.description-text p {
  margin-bottom: 15px; /* Add space between paragraphs */
}

.link-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Align buttons to the start */
  align-items: center;
  margin: 20px 170px;
  width: 55%; /* Match the width of .description-text */
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#topic {
  font-size: 2em; /* Increase font size */
  font-weight: bold; /* Make text bold */
  margin: 20px 170px; /* Add margin for spacing */
  width: 55%; /* Match the width of .description-text */
}

@media (max-width: 768px) {
  .description-text {
    width: 80%; /* Match the width of .fixed-size-image */
    margin: 20px auto; /* Center the text */
  }
  .link-buttons {
    width: 80%; /* Match the width of .description-text in mobile view */
    margin: 20px auto; /* Center the buttons */
  }
  #topic {
    width: 80%; /* Match the width of .description-text in mobile view */
    margin: 20px auto; /* Center the title */
  }
}
